<h3 class="bg-primary p-1 text-white">
  Lista de Tarefas de {{getName()}}
</h3>

<div class="my-1">
  <input class="form-control" #todoText/>
  <th>Prioridade:</th>
  
  <select #todoPrioridade>
    <option>alta</option>
    <option>media</option>
    <option>baixa</option>
  </select><br>
  
  <button class="btn btn-primary mt-1" (click)="addItem(todoText.value, todoPrioridade.value)" >
    Add
  </button>
</div>

<th>Prioridade Alta</th>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Description</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getTodoItems(); let i = index">
      <ng-container *ngIf="item.prioridade == 'alta'">
        <td>{{item.action}}</td>
        <td><input type="checkbox" [(ngModel)]="item.done"/></td>
        <td [ngSwitch]="item.done">
          <span *ngSwitchCase="true">Yes</span>
          <span *ngSwitchDefault>No</span>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>

<th>Proridade Média</th>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Description</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getTodoItems(); let i = index">
      <ng-container *ngIf="item.prioridade == 'media'">
        <td>{{item.action}}</td>
        <td><input type="checkbox" [(ngModel)]="item.done"/></td>
        <td [ngSwitch]="item.done">
          <span *ngSwitchCase="true">Yes</span>
          <span *ngSwitchDefault>No</span>
        </td>
      </ng-container>

    </tr>
  </tbody>
</table>

<th>Prioridade Baixa</th>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Description</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getTodoItems(); let i = index">
      <ng-container *ngIf="item.prioridade == 'baixa'">
        <td>{{item.action}}</td>
        <td><input type="checkbox" [(ngModel)]="item.done"/></td>
        <td [ngSwitch]="item.done">
          <span *ngSwitchCase="true">Yes</span>
          <span *ngSwitchDefault>No</span>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Tarefas realizadas</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of getItemsRealizados(); let i = index">
      <td>{{item.action}}</td>
      <td><input type="checkbox" [(ngModel)]="item.done"/></td>
    </tr>
  </tbody>
</table>